.clock,body html{
    background-color:rgb(13, 122, 185);
    max-width: 400px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 300px;

    }
.hr,.min,.zone,.sec,.time{
   display: inline;
   padding: 20px;
   background-color: slategray;
   position: relative;
   top:130px;
   left: 20px;
   border-radius: 10px;
   box-shadow: 1em 1em 1em 1em rgb(91, 209, 224) inset;
   
}